.header {
    background-color: grey;
    height: 10%;
    width: 100%;
    padding: 0;
    vertical-align: middle;
}

.header_text {
    color: black;
    font-family: Arial;
    font-size: 2.5em;
    text-align: center;
}